meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
meta(charset="utf-8")
meta(name='description', content=description)
style
  |header { background-color: #d95148; }
  |#container {
  |  background-color: #ff584d;
  |}
  |#container:after {
  |  display: block;
  |  clear: both;
  |  content: "";
  |}
  |#main {
  |  float: left;
  |  width: 80%;
  |  background-color: #ffeceb;
  |}
  |#side {
  |  float: right;
  |  width: 20%;
  |  background-color: #b8524b;
  |}
  |.news {
  |  margin: 10px;
  |}
  |.news h1 {
  |  padding: .25em 0 .25em .75em;
  |  border-left: 6px solid #e6443A;
  |}
  |footer { background-color: #d95148; }
