doctype
html
  include ../includes/head.jade
  body
    include ../includes/header.jade
    div#navi
    div#container
      div#main
        block main
      div#side
        include ../includes/side.jade
    include ../includes/footer.jade
